name: 'GitHub Actions Weather Bot'

on:
  push:
  schedule:
    - cron: '* * * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Set up Python'
              uses: actions/setup-python@v1
        with:
              python-version: 3.7
      - name: 'Install requirements'
              run: pip install -r ./requirements.txt        
      - name: 'AutoClick'
        run: bash ./main.sh
      - name: 'Get Date'
        run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Shanghai Weather Report (${{env.REPORT_DATE}})
          body: file://result.html
          to: yifeng.ruan@gmail.com
          from: GitHub Actions
          content_type: text/html
